body {
    color: #a3a3a3!important;
}
.tab-content {
    color: #dedede!important;
}
.app-header, .tab-content, .card, .form-control, .modal-content {
    background-color: #303030!important;
}
.form-control {
    border-color: rgba(228, 231, 234, 0.4)!important;
}
.main {
    background-color: #212121;
}
.app-footer, .card-header, .modal-header {
    background-color: #424242!important;
}
.app-footer, .app-header {
    border-color: #71757a!important;
}
.aside-menu {
    border: none!important;
}
.btn-outline-dark:hover {
    color: #23282c!important;
    background-color: #fff!important;
    border-color: #fff!important;
}
.btn:hover {
    color: #fff;
    background-color: #2f353a;
    border-color: #2f353a;
    text-decoration-color: currentcolor;
}
.card, .card-header {
    border-color: #71757a !important;
}
.dropdown-menu {
    background-color: #212121!important;
    border-color: #71757a!important;
}
.dropdown-header {
    background-color: #303030!important;
    border-color: #71757a!important;
}
.dropdown-item {
    color: #a3a3a3!important;
    border-color: #71757a!important;
}
.dropdown-item:hover, .dropdown-item:hover i {
    color: #212121!important;
}
li .active {
    background-color: #303030 !important;
    border: none!important;
}
.table {
    color: #a3a3a3!important;
}
.alert-secondary {
    background-color: #303030!important;
    border-color: #71757a!important;
}
#console {
    color: #a3a3a3!important;
}
.card-footer, .modal-footer {
    background-color: #424242!important;
}
.btn-outline-dark {
    color: #a3a3a3!important;
    border-color: #a3a3a3!important;
}
.nav-link:hover {
    border-color: gray!important;
}
.switch-slider {
    background-color: #424242!important;
    border: 1px solid gray!important;
}
.switch-success .switch-input:checked + .switch-slider {
    background-color: #4dbd74!important;
    border-color: #3a9d5d!important;
}
.menu-entry-fakebtn, .menu-entry-fakebtn:hover, .menu-entry-fakebtn:active, .menu-entry-fakebtn:focus, .menu-entry-fakebtn:visited, .menu-entry-fakebtn:focus-within {
    border: none!important;
    min-width: 100%!important;
    text-align: left!important;
}
*:not(#console):not([role=presentation]) > span:hover, *:not(#console):not([role=presentation]):hover > span {
    /*color: lightgray!important;*/
}
.nav-item .active {
    color: #a3a3a3!important;
}
.text-danger:hover, label:hover .text-danger {
    color: #f86c6b !important;
}